data/chauffeurs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="chauffeurs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chauffeur" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="cin" type="xs:string"/>
                            <xs:element name="nom" type="xs:string"/>
                            <xs:element name="prenom" type="xs:string"/>
                            <xs:element name="email" type="xs:string"/>
                            <xs:element name="adresse" type="xs:string"/>
                            <xs:element name="telephone" type="xs:string"/>
                            <xs:element name="poste" type="xs:string"/>
                            <xs:element name="salaire" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
